* {
  /* border: 0.1px solid red; */
}
body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; */
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
}
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%
}
.time-list-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  padding: 0 20%;
  max-width: 14em;
  height: 50em;
}
.time-list-panel ul {
  overflow-y: auto;
}
.result-panel {
  font-size: 2em;
  width: fit-content;
}
.result-panel h3,
.result-panel div,
body h1 {
  margin: 0.4em;
}
input, button {
  padding: 10px;
  margin: 5px 0;
  font-size: 1em;
}
input[type='text'] {
  text-align: right;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 5px 0;
}