* {
  /* border: 0.1px solid red; */
}
body {
  background-color: #434748;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
}
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100vh;
}
.time-list-panel {
  display: flex;
  flex-direction: column;
  /* flex: 1 1; */
  padding: 0;
  /* max-width: 100%; */
}
.time-list-panel ul {
  /* overflow-y: auto; */
}
.time-list-panel ul li div {
  display: flex;
  justify-content: stretch;
  align-items: center;
  /* border: 1px solid linear-gradient(to right, red, purple); */
  height: 2em;
  /* max-width: 60vw; */
  /* border: 1px solid blue; */
}
.time-list-item:hover + .time-list-button {
  display: block;
}
.time-list-panel ul li span,
.time-list-panel ul li input[type='text'] {
  flex-grow: 1;
  /* text-align: right; */
  /* border: 1px solid red; */
}
.time-list-button {
  display: none;
}
.result-panel {
  font-size: 2em;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background: rgb(0,18,34);
  background: radial-gradient(circle, rgba(0,18,34,1) 0%, rgba(15,48,77,1) 30%, rgba(88,116,141,1) 100%);
  opacity: 0.7; /* test */
}
.result-panel h3,
.result-panel div,
body h1 {
  margin: 0.4em auto;
  display: block;
  width: fit-content;
}
input[type='text'], button {
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 1em;
}
/* input[type='text'] {
  text-align: right;
} */
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 5px 0;
}
#startButton {
  width: 12em;
}