:root {
  --bg: #434748;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: var(--bg);
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}
h1 {
  margin: 0 auto;
  padding: 0.2em 0;
  width: fit-content;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* justify-content: stretch; */
  max-height: 100dvh;
}
.main-input,
.time-list-container {
  margin: 0 auto;
  min-width: 222px;
  width: 20dvw;
  max-width: 400px;
}
.main-input,
.time-list-item div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2em;
  /* border: 1px solid blueviolet; */
}
.time-list-container {
  overflow-y: auto;
}
.time-list-item div span,
.time-list-item div input[type='text'] {
  flex-grow: 1;
}
.time-list-item div input[type='text'] {
  width: 1px;
}
#timeList {
  list-style-type: none;
  padding: 0;
}




.time-list-button {
  display: none;
}
.time-list-item:hover .time-list-button {
  display: block;
}
.result-panel {
  font-size: 2em;
  width: 100%;
  padding: 0.4em 0;
  background: rgb(0,18,34);
  background: radial-gradient(circle, rgba(0,18,34,1) 0%, rgba(15,48,77,1) 30%, rgba(88,116,141,1) 100%);
  position: sticky;
  bottom: 0;
}
.result-panel h6,
.result-panel div {
  margin: 0.2em auto;
  display: block;
  width: fit-content;
}
ul {
  list-style-type: none;
  padding: 0;
}
#startButton {
  width: 12em;
}




#test {
  width: 222px;
  height: 100px;
  background-color: blue;
  /* position: absolute; */
  top: 0;
  margin: auto;
}





/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #58748D #DFE9EB;
} */

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
  border: 3px solid var(--bg);
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #58748D;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #6E91B0;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #546c82;
}
